######################################
# IDE
######################################
*.ipr
*.iml
.idea

######################################
# TMP DIRS
######################################
temp

######################################
# Builds
######################################
out
build
dist

######################################
# Node JS
######################################
node_modules
npm-debug.log

######################################
# iOS files
######################################
.DS_Store

######################################
# Local Libs
######################################
#lib


######################################
# Private Data
######################################
test/creds.js
